<%- include("templates/header", {tituloWeb: 'Detalle de mascota'}) %>
<body>
    <div class="container">
        <h1>Detalle de mascota</h1>
        <% if (error) { %>
            <p>
                <%= mensaje %> 
            </p>
            <a href="/mascotas">Volver a mascotas</a>
        <% } %>

        <% if (!error) { %>

            <form id="formularioEditar" data-id="<%= mascota.id %>">
                <input type="text"
                name="nombre"
                value="<%= mascota.nombre %>"
                id="nombreInput"
                >
                <input type="text"
                name="descripcion"
                value="<%= mascota.descripcion %>"
                id="descripcionInput"
                >
                <button>
                    Editar
                </button>
            </form>
            <button 
            id="btnEliminar"
            data-id="<%= mascota.id %>"
            >
                Eliminar
            </button>
        <% } %>
    </div>

</body>
<script>

    //SE CAPTURA EL BTN ELIMINAR PARA PODER ENVIAR EL METODO DELETE POR MEDIO DEL FETCH
    //SOLICITA LA ELIMINACION Y VERIFICA EN LA MISMA VENTANA DEL CLIENTE LA CONSULTA AL MODULO PARA VER SI SE REALIZO LA TAREA, NO EJECUTA LA ORDEN DIRECTAMENTE
    const btnEliminar = document.querySelector('#btnEliminar');

    btnEliminar.addEventListener('click', async() =>{
        const id = btnEliminar.dataset.id;
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: 'delete'
            });
            const res = await data.json();
            
            if(res.estado){
                alert('Se eliminó con éxito');
                window.location.href = '/mascotas';
            }else{
                console.log(res);
            }
        } catch (error) {
            console.log(error);
        }
    })

    //SE CAPTURA EL FORMULARIO PARA PODER EDITAR UN DOCUMENTO USANDO FETCH CON EL METODO PUT

    const formularioEditar = document.querySelector('#formularioEditar');

    formularioEditar.addEventListener('submit', async(e) =>{
        e.preventDefault();

        //las 2 maneras de capturar el valor de un elemento
        const nombre = formularioEditar.elements['nombre'].value;
        const descripcion = document.querySelector('#descripcionInput').value;
        const id = formularioEditar.dataset.id;

        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: 'put',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({nombre, descripcion})
            })
            const res = await data.json();
            if(res.estado){
                alert('editado con éxito');
                window.location.href = '/mascotas';
            }else{
                console.log(res);
            }
        } catch (error) {
            console.log(error);
        }
        
    })
</script>
</html>